.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* esto va despues de nuevo */
    /* grid-template-columns: 1fr 1fr 1fr; */
}
.grid-item{
    border: solid 2px black;

}

  /* esto es nuevo */
.grid-item img{
    height: 100%;
    width: 100%;
}
