nav {
    padding: 10px;
    grid-area: menu;
    background-color: blue;
    color: white;
}

main {
    grid-area: seccion-principal;
    padding: 10px;
}

footer {
    grid-area: pie-de-pagina;
    background-color: red;
    color: white;
    padding: 10px;
}

div {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
    "menu"
    "seccion-principal"
    "pie-de-pagina"
    ;
}


@media (min-width: 700px){
    div {
        /* display: grid; */
        /* border: 1px solid black; */
        /* grid-template-rows: 1fr 10fr 1fr; */
        grid-template-areas: 
        "menu seccion-principal"
        "menu seccion-principal"
        "menu pie-de-pagina"
        ;
        grid-template-columns: 1fr 10fr;
    }
}
