.active {
    color: darkgreen;
    }



    /* .active {
        text-decoration: none;
        color: darkgreen;
    }

    .disabled {
        text-decoration: none;
        color: pink;
    }

    .otro {
        background-color: black;
        color: white;
    } */
